.el-pagination {
  padding: 20px 0 0;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  background: transparent;
  border: 1px solid #E0E0E0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #53C389;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #53C389;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: #ffffff;
}

.el-table tbody .cell {
  font-size: 12px !important;
}

.el-table__header .el-table__cell {
  padding: 8px 0;
}

.el-table__header .cell {
  font-size: 14px;
  color: #666666;
  font-weight: normal;
}

.home-table .el-table .el-table__cell {
  padding: 3px 0;
}

.consume-table {
  .cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.el-button--warning {
  background-color: #F29E44;
  border-color: #F29E44;
  color: #ffffff;
}

.el-button--success {
  background: #53C389;
  border-color: #53C389;
  color: #ffffff;
  width: 120px;
  border-radius: 6px;
}

.common-query-btn,
.common-reset-btn {
  font-size: 22px;
  width: 120px;
  height: 50px;
  border-radius: 6px;
}

.common-reset-btn {
  border-color: #F29E44;
  color: #F29E44;
}

.el-date-editor .el-range-separator {
  padding: 0;
}

.query-opinion-dialog {
  min-height: 300px;
  .el-dialog__header {
    background: #409eff;

    .el-dialog__title {
      color: white;

      .el-dialog__headerbtn {
        font-size: 26px !important;
      }
    }
  }

  .el-dialog__body {
    padding: 30px 70px;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: #425883;
    font-size: 22px;
  }

}
